// file for typography related styling

body {
  /* Setting font-family and project wide font definitions in body selector to use power of inheritance */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  /* Applying padding around entire body. */
  padding: 3rem;
  /* Borders and padding are not added to total height and width of elements. */
 }

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  /* Displaying main and sub primary heading as block level elements so that they occupy all available width and create line breaks after and before. Span elements are by default inline elements. */
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* animation-duration is the time that the animation should take. */
    animation-duration: 1s;
    /* animation-delay delays the start of the animation. */
    /* animation-delay: 3s; */
    /* animation-iteration-count repeats the animation the defined number of times. */
    /* animation-iteration-count: 3; */
    /* animation-timing-function specifies how a CSS animation should progress over the duration of each cycle. */
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    /* animation-duration is the time that the animation should take. */
    animation-duration: 1s;
    /* animation-delay delays the start of the animation. */
    /* animation-delay: 3s; */
    /* animation-iteration-count repeats the animation the defined number of times. */
    /* animation-iteration-count: 3; */
    /* animation-timing-function specifies how a CSS animation should progress over the duration of each cycle. */
    animation-timing-function: ease-out;
    /* following covers animation-name, animation-duration and animation-timing-function */
    /* animation: moveInRight 1s ease-out */
  }
}